<%- include("include/header") -%>

<div class="container w-50">
  <div class="form-floating mb-3">
    <h1>Welcome to Our Project Page</h1>
  </div>

  <button type="button" class="btn btn-light">Introduce Department</button>
  <button type="button" class="btn btn-light">Curriculum</button>
  <button type="button" class="btn btn-light">Introduce Developer</button>
</div>

<%- include("include/footer") -%>